<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Context>
    <Resource name="jdbc/sinerji"
              auth="Container"
              type="javax.sql.DataSource"
              driverClassName="org.postgresql.Driver"
              url="jdbc:postgresql://localhost:5432/sinerji"
              username="usuario"
              password="senhausuario"
              maxTotal="20"
              maxIdle="10"
              maxWaitMillis="-1"/>
</Context>
